@import "../../../themes/variables.scss";

.slider {
  &-title {
    font-size: 3rem;
    border-bottom: 0.2rem solid $tomato;
  }

  &-content {
    justify-content: space-between;
    img {
      max-width: 60%;
    }
  }
}

.prev,
.next {
  padding: 1.6rem;
  font-size: 1.8rem;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 0.3rem 0 0 0.3rem;
}

.dot {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  background-color: $text-muted;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: $tomato;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

// Media queries para desktop
@media (min-width: $desktop) {
  .slider {
    &-title {
      font-size: 5rem;
      border-bottom: 0.5rem solid $tomato;
    }

    &-content {
      img {
        max-width: 40%;
      }
    }
  }
}
