@import "../../../../themes/variables.scss";

.home {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &-title {
    font-size: 5rem;
    border-bottom: 0.5rem solid $tomato;
  }

  &-content {
    min-height: 43rem;
    width: 80%;
    justify-content: space-between;
    align-items: start;

    &_heading {
      font-size: 6rem;
      line-height: 1.2;
      font-family: "Montserrat", serif;
      font-weight: 900;
      font-style: italic;
    }

    &_description {
      font-size: 1.8rem;
    }
  }

  &-pic {
    max-width: 70%;
    border-radius: 0.5rem;
  }
}

// Media queries para desktop
@media (min-width: $desktop) {
  .home {
    padding: 3rem;
  }
}
