<section class="home column g-2 wd-100">
  <h1 class="home-title">✨ Digital Art Commissions! ✨</h1>

  <div class="home-wrapper row wd-100 g-1">
    <div class="home-content column g-1">
      <h2 class="home-content_heading color-black">
        Hewo! I'm Feith Noir!
        <span class="color-vermilion">And this is my commission Sheet!</span>
      </h2>

      <p class="home-content_description">
        I am now offering digital art commissions tailored to your needs. Here
        is everything you need to know about my process, pricing, and terms to
        ensure we have a smooth and enjoyable experience:
      </p>

      <a class="btn btn-primary home-btn">Explore!</a>
    </div>

    <img [src]="imgSrc()" alt="cover" class="home-pic wd-50" />
  </div>
</section>
