@import "../../../../themes/variables.scss";

.contact {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &-title {
    font-size: 3rem;
  }

  &-body {
    .contact-body_list {
      li {
        font-size: 1.6rem;
        padding: 0.5rem 0;
      }
    }
  }
}

@media (min-width: $desktop) {
  .contact {
    padding: 3rem;

    &-body {
      p {
        font-size: 2.4rem;
      }
    }
  }
}
