<section class="contact bg-text column g-1">
  <h1 class="contact-title color-primary"> 💬 Ready to Order? </h1>

  <div class="contact-body">
    <p class="color-white">Feel free to send me a message with the following details:</p>

    <ul class="contact-body_list">
      <li class="color-white"> <span class="accent color-primary">-Type of commission</span> (simple illustration or variant set)</li>
      <li class="color-white"> <span class="accent color-primary">-Number of characters/variants</span></li>
      <li class="color-white"> <span class="accent color-primary">-Detailed description and references</span> (the more, the better!)</li>
    </ul>
  </div>
</section>
