@import './variables.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px
  font-family: "Nunito", sans-serif;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: $text;
  background: $platinum;
}

h1, h2, h3, p, a, ul, img {
  margin: 0;
}

p {
  font-size: 1.6rem;
  color: $text;
}

a {
  text-decoration: none;
  color: $tomato;
  &:hover {
    color: $cinnabar;
  }
}

img {
  max-width: 100%;
  object-fit: cover;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: $tomato;
}

h2 {
  font-size: 2.6rem;
  font-weight: 600;
  color: $orange-crayola;
}

h3 {
  font-size: 2.2rem;
  font-weight: 500;
  color: $cinnabar;
}

ul {
  list-style-type: none;
  padding: 0;
}

section, main {
  width: 100%;
  background: $white;
}
