@import './variables.scss';

// Mapa de colores
$colors: (
  "white": $white,
  "primary": $tomato,
  "orange-crayola": $orange-crayola,
  "cinnabar": $cinnabar,
  "vermilion": $vermilion,
  "platinum": $platinum,
  "gray": $gray,
  "light-gray": $light-gray,
  "success": $success,
  "accent": $accent,
  "danger": $danger,
  "dark-danger": $dark-danger,
  "warning": $warning,
  "black": $black,
  "text": $text
);

// Generar clases de colores
@each $name, $color in $colors {
  .color-#{$name} {
    color: $color;
  }

  .bg-#{$name} {
    background: $color;
  }

  .bg-#{$name}-hover:hover {
    background: $color;
  }
}

/*** Botones ***/

@each $name, $color in $colors {
  .btn-#{$name} {
    background: $color;
    color: $white;

    &:hover {
      background: darken($color, 10%);
    }

    &:disabled {
      background: $gray;
      pointer-events: none;
    }
  }
}


/*** Pildoras ***/

@each $name, $color in $colors {
  .pill-#{$name} {
    background: $color;
    color: $white;
  }
}
