@import "../../../../themes/variables.scss";

.details {
  padding: 2rem;
  gap: 2rem;
  border-radius: 0.5rem;

    .specifications {
      height: 50%;
      width: 100%;
      padding: 2rem 1rem;
      border-radius: 0.5rem;
      align-items: start;
      background: $tomato;
      outline: 0.5rem solid $vermilion;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      &-title {
        color: $white;
        font-size: 3rem;
        position: relative;
      }

      &-list {
        li {
          color: $white;
          padding: 0;
          width: 100%;
        }
      }
    }
}

@media (min-width: $tablet) {
  .details {
    gap: 2rem;

    .specifications {
      padding: 1rem;
    }
  }
}
