<section class="details column g-1">
  <div class="details-container row g-1">
    <div class="specifications wd-50">
      <h1 class="specifications-title"> {{ whatIdo.title }} </h1>

      <ul class="specifications-list">
        @for (item of whatIdo.items; track $index) {
          <li class="specifications-list_item"> {{ item }} </li>
        }
      </ul>
    </div>

    <div class="specifications wd-50">
      <h1 class="specifications-title"> {{ whatIdont.title }} </h1>

      <ul class="specifications-list">
        @for (item of whatIdont.items; track $index) {
          <li class="specifications-list_item"> {{ item }} </li>
        }
      </ul>
    </div>
  </div>
</section>
