@import "../../../../themes/variables.scss";

.details {
  padding: 2rem;
  border-radius: 0.5rem;

  .details-container {
    align-items: start;

    .specifications {
      height: 100%;
      padding: 1rem;
      border-radius: 0.5rem;
      justify-content: space-between;
      background: $tomato;
      outline: 0.5rem solid $vermilion;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      .specifications-title {
        color: $white;
        font-size: 3rem;
        position: relative;
      }

      .specifications-list {
        li {
          color: $white;
          padding: 0.5rem 0;
        }
      }
    }
  }
}

@media (min-width: $tablet) {
  .details-container {
    flex-direction: row;
    gap: 2rem;
  }

  .specifications {
    width: 48%;
  }
}

@media (min-width: $desktop) {
  .details-container {
    gap: 3rem;
  }

  .specifications {
    width: 45%; // Ajustamos el ancho para desktop
  }
}
