@import "../../../../themes/variables.scss";

.pricing {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &-title {
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  &-list {
    gap: 1rem;
    flex-direction: column;

    shared-card {
      width: 100%;
    }
  }

  &-note {
    font-size: 2rem;
  }
}

@media (min-width: $tablet) {
  .pricing {
    &-list {
      gap: 2rem;
      flex-direction: row;

      shared-card {
        width: 50%;
      }
    }
  }
}

@media (min-width: $desktop) {
  .pricing {
    padding: 3rem;
  }
}
