<main class="pricing  column g-1">
  <h1 class="pricing-title">💰 Pricing</h1>

  <ul class="pricing-list">
    <li class="pricing-list_item">
      $15: A simple illustration with up to 2 characters. Additional characters:
      +$5 each (e.g., 3 characters = $20, 4 characters = $25).
    </li>

    <li class="pricing-list_item">
      $25: A set of 10 image variants. Additional variants: +$2 each.
    </li>
  </ul>

  <p class="pricing-note">
    <span class="accent">Note:</span> The pricing is standard regardless of the
    type of shot (close-up, bust, or full-body).
  </p>
</main>
